{% extends 'layout.html' %}
{% block body %}
<h1><strong>About App</strong></h1>
<hr>
<h3>This app was made for the Udacity FullStack Web Development NanoDegree.</h3>
<h5>This is a Movie Trailer application that stores my favorite movies.</h5>
<h5>Upon opening the application all you have to do is click on any given movie poster and the trailer will play,
    via an embedded youtube iframe element.</h5>
<h5><strong>This application is made with multliple technologies, here are the main ones I had the pleasure working with
    <a href="https://www.python.org/"><span class="links">Python</span></a>,
    <a href="http://flask.pocoo.org/docs/0.12/"><span class="links">Flask framework</span></a>,
    <a href="https://www.sqlalchemy.org/"><span class="links">sqlalchemy</span></a>,
    <a href="https://www.sqlite.org/"><span class="links">sqlite.</span></a></strong></h5>
<hr>
<h6><strong>In the credits link within the navbar you will find where I credit the resources I used to complete this app.</strong></h6>
{% endblock %}
