{% extends 'layout.html' %}
{% block body %}
<h3>Hats off to all who helped me knowingly or unknowingly!</h3>
<hr>
<ul class="list-group">
  <li class="list-group-item"><strong>Udacity Instructor: Kunal - Teacher of - <a href="https://classroom.udacity.com/courses/ud036/lessons/997889780/concepts/10136290530923"><span class="credits">Programming Foundations with Python.</span></a></strong></li>
  <li class="list-group-item"><strong>Udacity Instructor: Lorenzo - Teacher of - <a href="https://classroom.udacity.com/courses/ud088/lessons/3593308717/concepts/36164089250923"><span class="credits">Full Stack Foundations</span></a></strong></li>
  <li class="list-group-item"><strong>Flask framework documentation - Link provided in the about page!</strong></li>
  <li class="list-group-item"><strong>Python Documentation - Link also provided in the about page!</strong></li>
  <li class="list-group-item"><strong>Miguel Grinberg - <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"><span class="credits">Flask Mega Tutoiral</span></a></strong></li>
  <li class="list-group-item"><strong>Traversey Media - flask tutorial youtube channel - <a href="https://www.youtube.com/watch?v=zRwy8gtgJ1A&list=PLillGF-RfqbbbPz6GSEM9hLQObuQjNoj_"><span class="credits">Flask from Scratch.</span></a></strong></li>
  <li class="list-group-item"><strong>Sentdex - <a href="https://pythonprogramming.net/practical-flask-introduction/"><span class="credits">Flask Introduction</span></a></strong></li>
  <li class="list-group-item"><strong>Youtube - for using the trailer videos.</strong></li>
  <li class="list-group-item"><strong>Bootstrap - for using the a <a href="https://bootswatch.com/cyborg/"><span class="credits">custom theme</span></a>.</strong></li>
  <li class="list-group-item"><strong>PurpleBooth - for the README.md template <a href="https://gist.github.com/PurpleBooth/109311bb0361f32d87a2"><span class="credits">PurpleBooth</span></a></strong></li>
  <li class="list-group-item"><strong>And if I forgot anyone let me know and I will not hesitate to add your name or link to the page!</strong></li>
</ul>
{% endblock %}
